<%- include("partials/header"); -%>

<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-8">

    <h1 class="my-4">Page Heading
      <small>Secondary Text</small>
    </h1>



    <!-- Blog Post -->


          <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
        <h2 class="card-title"><%=PostTitle%></h2>
        <p class="card-text"><%=BlogContent%></p>
      
      </div>
      <div class="card-footer text-muted">
        Posted on <%=PostDate%> by
        <a href="/"><%=PostBy%></a>
        Category <a href="#"><%=Category%></a>
      </div>
    </div>
    </div>

    </div>




<%- include("partials/footer"); -%>

<script>
   $("body").css("padding-top","56px");
</script>

</html>
